body {
	background-image: url('bg01.jpg');
	background-position: center;
	background-repeat: no-repeat;
	}

@font-face {
    font-family: 'AnimeAcev02';
    src: url('AnimeAcev02.ttf'); 
}
span{
	font:  100px AnimeAcev02
}

